<!DOCTYPE html>
<html>
<head>
    <title>Sensor Logger</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="static/js/application.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h1>Sensor Logger</h1>
  </div>
</div>
<div class="container">
    <div class="row">
        <button id="startstopbutton" type="button" class="btn btn-primary" onclick="toggle_logging();">Start</button>
        <button id="downloadbutton" type="button" class="btn btn-primary" onclick="download_data();">Download</button>
    </div>
</div>
<div class="container" id="content">
    <div class="row">
        <h3>Data list:</h3>
        <div id="log"></div>
    </div>
</div>

</body>
</html>